[submodule "NutzLib/vendor/imgui"]
	path = NutzLib/vendor/imgui
	url = http://github.com/ocornut/imgui
	branch = docking
[submodule "NutzLib/vendor/assimp"]
	path = NutzLib/vendor/assimp
	url = http://github.com/assimp/assimp
