[submodule "NutzLib/vendor/imgui"]
	path = NutzLib/vendor/imgui
	url = http://github.com/ocornut/imgui
	branch = docking
[submodule "NutzLib/vendor/assimp"]
	path = NutzLib/vendor/assimp
	url = http://github.com/assimp/assimp
	
[submodule "NutzLib/vendor/glfw"]
	path = NutzLib/vendor/glfw
	url = http://github.com/rexxk/glfw
[submodule "NutzLib/vendor/stb"]
	path = NutzLib/vendor/stb
	url = http://github.com/nothings/stb
