[submodule "NutzLib/vendor/imgui"]
	path = NutzLib/vendor/imgui
	url = http://github.com/ocornut/imgui
	branch = docking
[submodule "NutzLib/vendor/assimp"]
	path = NutzLib/vendor/assimp
	url = http://github.com/assimp/assimp
[submodule "NutzLib/vendor/--force"]
	path = NutzLib/vendor/--force
	url = http://github.com/rexxk/glfw
